<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votes</title>
</head>
<body>
    <h1>{{ pypie.name }} By {{ pypie.get_user.first_name }} {{ pypie.get_user.last_name }}</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    <h1>{{ pypie.filling }} with {{ pypie.crust }}</h1>
    <p>Cast A vote</p>
    <a href="/vote"><button>Delicious</button></a>
</body>
</html>