<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>
<style>
    body {
        display: flex;
        flex-direction: row;
    }
    div {
        margin-right: 300px;
    }
</style>
<body>
    <div>
        <h1>New Dojo</h1>
        <form action="/dojos/create" method="post">
            <p>
            Name:
                <input type="text" name="name">
            </p>
            <button>Create</button>
        </form>
    </div>
    <div id = "names">
        <h1>All Dojos</h1>
        {% for dojos in dojos %}
            <a href="/dojos/{{dojos.id}}"><p>{{ dojos.name }}</p></a>
        {% endfor %}
        <a href="/ninjas/">Add Ninja</a>
    </div>
</body>
</html>