<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit band</title>
</head>
<body>
    <h1>Rock On {{ user.first_name }} {{ user.last_name }}!!!</h1>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    
    <h1>Edit {{ band.band_name }}</h1>
    
    <form action="/edit/{{band.id}}" method="post">
        <p>
        Band Name:
            <input type="text" name="band_name" id="" value="{{band.band_name}}">
        </p>
        <p>
        Music Genre:
            <input type="text" name="music_genre" id="" value="{{band.music_genre}}">
        </p>
        <p>
        Home city:
            <input type="text" name="home_city" id="" value="{{band.home_city}}">
        </p>
        <button>Update</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>