<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <h1>Welcome {{ user.first_name }}!</h1>
    <a href="/recipes/new">Create</a>
    <a href="/">Logout</a>
    <h3>These are the recipes</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Under 30 Minutes?</th>
            <th>Actions</th>
        </tr>
        {% for recipes in recipes %}
        <tr>
            <td>{{ recipes.name }}</td>
            <td>{{ recipes.under_30_min }}</td>
            <a href="/recipes/{{user.id}}"><td>View Instructions</td></a>
            <a href="/recipes/edit/{{user.id}}"><td>edit</td></a>
            <a href="/dashboard"><td>Delete</td></a>
        </tr>
        {% endfor %}
    </table>
</body>
</html>