<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Instructions page</title>
</head>
<style>
    table, th, td {
    border: none;
    border-collapse: collapse;
    }
    th, td {
    padding: 5px;
    text-align: left;
    }
    </style>
<body>
    <h1>Welcome {{ user.first_name }}!</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/">Logout</a>
    <div>
        <h1>{{ recipe.name }}</h1>
        <table style="width:100%">
            <tr>
                <th>Description:</th>
                <td>{{ recipe.description }}</td>
            </tr>
            <tr>
                <th>Under 30 Minutes:</th>
                <td>{{ recipe.under_30_min }}</td>
            </tr>
            <tr>
                <th>Instructions:</th>
                <td><li>{{ recipe.instructions }}</li></td>
            </tr>
            <tr>
                <th>Date Made:</th>
                <td>{{ recipe.date_made_on }}</td>
            </tr>
            </table>
    </div>
</body>
</html>